<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="email" content=""/>
    <meta name="author" content=""/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="../../static/css/datepicker.css"
          th:href="@{css/datepicker.css}" rel="stylesheet" media="screen"/>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="../../static/css/header.css"
          th:href="@{css/header.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/main.css"
    th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
</body>
</html>