<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>ZDC - Home</title>
</head>
  <body th:fragment="header">
  <div class="cover-container">
      <div class="masthead clearfix">
          <div class="inner">
              <h3 class="masthead-brand"><a href="#" th:href="@{/}">CConverter</a></h3>
              <nav>
                  <ul class="nav masthead-nav">
                      <li><h4><a href="#" th:href="@{/register}">Register</a></h4></li>
                      <li><h4><a href="#" th:href="@{/login}">Login</a></h4></li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
  </body>
</html>
