body {
    padding-bottom: 40px;
    background-color: #232937;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"]{
    margin-bottom: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="date"]{
    margin-bottom: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="number"]{
    margin-bottom: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin select[id="country"] {
    margin-bottom: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[id="pwd1"] {
    margin-bottom: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[id="pwd2"] {
    margin-bottom: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[id="password"] {
    margin-bottom: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}