<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head-converter">
    <title>ZDC - Login</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head >
<body>
    <div class="container">
        <div class="container">
            <!--/*/ <th:block th:include="fragments/header-login :: header-login"></th:block> /*/-->
        </div>
        <form class="form-signin" th:object="${loginForm}" th:action="@{/login}" method="post" enctype="multipart/form-data" style="margin-top:300px;">
            <h2 style="color:white; text-align: center;">Fill the form</h2>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="Email" th:text="${email}"/>
            <div th:if="${emailError != null}">
                <p style="color:red; text-align: center;" th:text="${emailError}"></p>
            </div>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password" th:text="${password}"/>
            <div th:if="${passwordError != null}">
                <p style="color:red; text-align: center;" th:text="${passwordError}"></p>
            </div>
            <button class="btn btn-lg btn-block" style="background-color: #66B100" type="submit">Login</button>
        </form>
    </div>
</body>
</html>