<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>ZDC - Converter</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <style>
        table th { text-align: center; }
         .dropdown-menu{
             background-color: #232937;
         }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#calendar').datepicker({
                format: "yyyy-mm-dd"
            });
        });
    </script>
</head>

<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header-converter :: header-converter"></th:block> /*/-->
</div>

<div class="container">
    <form class="form-signin"  th:object="${conversion}" th:action="@{/conversion}" method="post" enctype="multipart/form-data" style="margin-top:100px;">
        <input type="hidden" th:field="*{id}"/>
        <h2 style="color:white; text-align: center;">Fill the form</h2>

        <label for="calendar" class="sr-only">Conversion rate date</label>
        <div class="conversionRateDate">
            <input type='text' id='calendar' name="calendar" placeholder="Conversion rate date" class="form-control" th:field="*{conversionRateDate}"/>
        </div>
        <div th:if="${conversionRateDateError != null}">
            <p style="color:red; text-align: center;" th:text="${conversionRateDateError}"></p>
        </div>

        <select id="sourceCurrency" name="sourceCurrency" class="form-control">
            <option value="Select currency" selected="selected">Select currency</option>
            <option  th:each="source : ${currencies}" th:value="${source}" th:text="${source}" th:selected="*{sourceCurrency} == ${source}"></option>
        </select>
        <div th:if="${sourceCurrencyError != null}">
            <p style="color:red; text-align: center;" th:text="${sourceCurrencyError}"></p>
        </div>

        <select id="targetCurrency" name="targetCurrency" class="form-control">
            <option value="Select currency" selected="selected">Select currency</option>
            <option  th:each="target : ${currencies}" th:value="${target}" th:text="${target}" th:selected="*{targetCurrency} == ${target}"></option>
        </select>
        <div th:if="${targetCurrencyError != null}">
            <p style="color:red; text-align: center;" th:text="${targetCurrencyError}"></p>
        </div>

        <label for="amount" class="sr-only">Amount</label>
        <input type="text" class="form-control" id="amount" name="amount" th:value="${amount}" placeholder="Amount to convert"/>
        <div th:if="${amountError != null}">
            <p style="color:red; text-align: center;" th:text="${amountError}"></p>
        </div>

        <button class="btn btn-lg btn-block" style="background-color: #66B100" type="submit">Convert</button>
    </form>
</div>

<hr/>
<h2>Last 5 queries performed</h2>
<div th:if="${not #lists.isEmpty(lastFiveConversions)}">
    <table class="table table-stripped table-hover">
        <tr>
            <th>Source</th>
            <th>Target</th>
            <th>Amount</th>
            <th>Result</th>
            <th>Date</th>
        </tr>

        <tr th:each="conversion : ${lastFiveConversions}">
            <td th:text="${conversion.sourceCurrency}"></td>
            <td th:text="${conversion.targetCurrency}"></td>
            <td th:text="${conversion.amount}"></td>
            <td th:text="${conversion.result}"></td>
            <td th:text="${conversion.conversionRateDate}"></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        $('#calendar').datepicker();
    });
</script>
</body>
</html>