<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>ZDC - register</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <style>
        .dropdown-menu{
            background-color: #232937;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('#calendar').datepicker({format: 'yyyy-mm-dd'});
        });
    </script>
</head >
<body>
<div class="container">
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header-register :: header-register"></th:block> /*/-->
    </div>
    <form class="form-signin has-success"  th:object="${user}" th:action="@{/register}" method="post" enctype="multipart/form-data" style="margin-top:100px;">
        <input type="hidden" th:field="*{id}"/>
        <h2 style="color:white; text-align: center;">Fill the form</h2>

        <label for="email" class="sr-only">Email</label>
        <input type="text" id="email" class="form-control" name="email" placeholder="Email" th:field="*{email}"/>
        <div th:if="${emailError != null}">
            <p style="color:red; text-align: center;" th:text="${emailError}"></p>
        </div>

        <label for="calendar" class="sr-only">Date of birth</label>
        <div class="conversionRateDate">
            <input type='text' id='calendar' name="calendar" placeholder="Date of birth" class="form-control" th:field="*{dateOfBirth}"/>
        </div>
        <div th:if="${dateOfBirthError != null}">
            <p style="color:red; text-align: center;" th:text="${dateOfBirthError}"></p>
        </div>

        <label for="address" class="sr-only">Address</label>
        <input type="text" id="address" class="form-control" name="address" placeholder="Address" th:field="*{address}"/>
        <div th:if="${addressError != null}">
            <p style="color:red; text-align: center;" th:text="${addressError}"></p>
        </div>

        <label for="zip" class="sr-only">Zip</label>
        <input type="text" id="zip" class="form-control" name="zip" placeholder="Zip" th:field="*{zip}"/>
        <div th:if="${zipError != null}">
            <p style="color:red; text-align: center;" th:text="${zipError}"></p>
        </div>

        <label for="city" class="sr-only">City</label>
        <input type="text" id="city" class="form-control" name="city" placeholder="City" th:field="*{city}"/>
        <div th:if="${cityError != null}">
            <p style="color:red; text-align: center;" th:text="${cityError}"></p>
        </div>

        <select class="form-control" id="country" th:field="*{country}" required="required">
            <option value="Select country" selected="selected">Select country</option>
            <option th:each="c : ${countries}" th:value="${c}" th:text="${c}" th:selected="*{country} == ${c}"></option>
        </select>
        <div th:if="${countryError != null}">
            <p style="color:red; text-align: center;" th:text="${countryError}"></p>
        </div>

        <label for="pwd1" class="sr-only">Password</label>
        <input type="password" id="pwd1" class="form-control" name="pwd1" placeholder="Password" th:field="*{password}"/>
        <div th:if="${passwordError != null}">
            <p style="color:red; text-align: center;" th:text="${passwordError}"></p>
        </div>

        <label for="pwd2" class="sr-only">Confirm Password</label>
        <input type="password" id="pwd2" class="form-control" name="pwd2" placeholder="Confirm Password" th:field="*{passwordConfirm}"/>
        <div th:if="${passwordConfirmError != null}">
            <p style="color:red; text-align: center;" th:text="${passwordConfirmError}"></p>
        </div>

        <button class="btn btn-lg btn-block" style="background-color: #66B100" type="submit">Register</button>
    </form>
</div>

</body>
</html>